Django==1.11.1
djangorestframework-jsonapi==2.4.0
djangorestframework==3.6.3
django-cors-headers==2.0.0
django-celery-results==1.0.1
django-celery-beat==1.0.1
requests==2.13.0
psycopg2==2.6.2
redis==2.10.5
gunicorn==19.6.0
matplotlib==2.0.0
scipy==0.19.0
sympy==1.0
scikit-learn==0.18.1
django-filter==1.0.4
