.analysis-index {
  max-width: 720px;
  margin: 0 auto;
}

.analysis-index__item {
  padding: 10px;
  background: #FFF;
  margin-bottom: 10px;
  border-radius: 2px;
}

.analysis-index__item-title {
  font-size: 1.2em;
}

.analysis-index__item-info {
  font-size: 0.85em;
  color: #666;
}
