.job-info {

}

.job-info__cell {
  vertical-align: top;
}

.job-info__item {
  display: inline-block;
}

.job-info__key {
  font-weight: bold;
  display: block;
}

.job-info__value {
  margin-bottom: 10px;
}

.job-info__image {
  width: 150px;
  height: 150px;
}
