.jobs {
  margin: 0 -10px;
}

.jobs__job {
  display: inline-block;
  background: #fff;
  width: 200px;
  height: 250px;
  margin: 10px;
  padding: 10px;
}

.jobs__name {
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #eee;
}

.jobs__image {
  min-height: 180px;
}
