.widget {
  border-radius: 3px;
  padding: 20px;
  position: relative;
  margin-bottom: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);

  &__title {
    font-size: 1.5em;
    border-bottom: 1px solid whitesmoke;
    margin: 0 -5px 5px -5px;
    padding: 0 0 5px 5px;
    color: #555;
  }
}
