{{#bs-navbar fluid=false class="navbar-fixed-top" as |navbar|}}
  <div class="navbar-header">
    {{#link-to "jobs.index" class="navbar-brand"}}Dimension Reduction{{/link-to}}
  </div>
{{/bs-navbar}}

<div class="container stage">
  {{outlet}}
</div>
