<nav class="header navbar navbar-default navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      {{#link-to "home" class="navbar-brand"}}SCI-TDA{{/link-to}}
    </div>
  </div><!-- /.container -->
</nav>


<div class="container stage">
  {{outlet}}
</div>
