<div class="row stage-header">
  <div class="col-sm-6 stage-title">All Graphs</div>
  <div class="col-sm-6 text-right">{{#link-to "jobs.new" class="btn btn-default"}}Start New{{/link-to}}</div>
</div>

{{jobs-index jobs=model title="Graph Datasets" format="graph"}}

{{jobs-index jobs=model title="Point Cloud Datasets" format="point_cloud"}}
