<div class="row stage-header">
  <div class="col-sm-6 stage-title">Start new Job</div>
  <div class="col-sm-6 text-right">{{#link-to "jobs.index" class="btn btn-default"}}Back to List{{/link-to}}</div>
</div>

<form id="jobs-new-form" method="post" {{action "submit" on="submit"}}>
  {{#form-group errors=model.errors.name label="Name"}}
    {{input type="text" name="name" value=model.name class="form-control"}}
  {{/form-group}}

  {{#form-group errors=uploadErrors label="Input File"}}
    {{files-picker}}
  {{/form-group}}

  {{#form-group label="Data Format"}}
    <div class="radio">
      <label>
        <input type="radio" name="data_format" value="point_cloud" checked>
        <strong>Point Cloud</strong>
      </label>
      <ul>
        <li>Each line is a set of tab-separated values which represents a three-dimensional Euclidean coordinate.</li>
        <li>Line format:<code>{x}  {y}  {z}</code></li>
        <li>Line example:<code>17.22  27.19  45.59</code></li>
      </ul>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="data_format" value="graph">
        <strong>Weighted Graph</strong>
      </label>
      <ul>
        <li>Each line is a set of tab-separated values which represents a node ID, its edge, weight.</li>
        <li>Line format: <code>{from node ID}  {to node ID}  {weight}</code></li>
        <li>Line example: <code>1 2 5</code></li>
      </ul>
    </div>
  {{/form-group}}

  <button type="submit" class="btn btn-success">Submit</button>
</form>