<div class="row stage-header">
  <div class="col-sm-6 stage-title">All Analyses</div>
</div>

<div class="analysis-index">

  {{#each model as |analysis|}}
    <div class="row analysis-index__item">
      <div class="col-sm-8 analysis-index__item-title">
        {{#link-to "analyses.view" analysis.id}}{{analysis.title}}{{/link-to}}
        <div class="analysis-index__item-info">dataset: {{analysis.dataset.title}}</div>
      </div>
      <div class="col-sm-4 analysis-index__item-preview">
        preview
      </div>
    </div>
  {{/each}}

</div>