{{#if (eq analysis.params.process "sphere_evenly_sampling")}}
  {{analysis-director-sphere-evenly}}
  <div class="row">
    <div class="col-sm-4">3D Preivew GIF</div>
    <div class="col-sm-4">3D Persistence Diagram</div>
    <div class="col-sm-4">Best Projection</div>
  </div>

  <hr />

  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
  </div>

  {{analysis-panel-sphere analysis=analysis}}

{{/if}}

{{#if (eq analysis.params.process "search_best_linear_projection")}}

{{/if}}