<div class="card">
  <div class="card__title">
    result
  </div>
  <div class="card__content padding-md">
    <div class="row">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
      </div>
    </div>
  </div>
</div>

<style> /* set the CSS */

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
  }

  .grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
  }

  .grid path {
    stroke-width: 0;
  }

</style>

<div class="card">
  <div class="card__title">
    Iterations
  </div>
  <div class="card__content padding-md">
    <svg id="com-iteration-chart"></svg>
  </div>
</div>