<script>
  var client = filestack.init('AWPOg9H9eRiKlGign4px8z');
  function showPicker() {
    client.pick({
      accept: ['text/tab-separated-values'],
      maxFiles: 1,
      minFiles: 1,
    }).then(function (result) {
      $("#file-picker-button").hide();
      $("#file-picker-input").val(result.filesUploaded[0]['handle']);
      $("#file-picker-name").text(result.filesUploaded[0]['filename']);
    });
  }
</script>
<button id="file-picker-button" type="button" onclick="showPicker()" class="btn btn-default">Attach Data File</button>
<input id="file-picker-input" type="hidden" name="file" value=""/>
<span id="file-picker-name"></span>