<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" role="group" aria-label="...">
      <button type="button"
              class="btn btn-primary"
              {{action "distanceTypeChanged" "bottleneck"}}>Bottleneck</button>
      <button type="button"
              class="btn btn-default"
              {{action "distanceTypeChanged" "wasserstein"}}>Wasserstein</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-10">
    <svg class="sphere"></svg>
  </div>
  <div class="col-xs-2">
    <ul class="colorbar"></ul>
    <small class="help-block"></small>
    <small class="help-block">Bottleneck Distance</small>
  </div>
</div>
