<script>
  var client = filestack.init('AWPOg9H9eRiKlGign4px8z');
  function showPicker() {
    client.pick({
      accept: ['text/csv', 'csv'],
      maxFiles: 1,
      minFiles: 1,
    }).then(function (result) {
      $("#file-picker-button").hide();

      var file = result.filesUploaded[0];

      $("#file-picker-input").val(file['handle']);

      var passName = $("#file-picker-pass-name");
      passName.val(file['filename']);
      passName.trigger("change");

      $("#file-picker-success").show();
    });
  }
</script>
<button id="file-picker-button" type="button" onclick="showPicker()" class="btn btn-success">Click here to upload dataset file</button>

<div class="alert alert-success" style="display: none;" id="file-picker-success">file upload complete</div>

<!-- TODO use action to pass data -->
<input id="file-picker-input" type="hidden" name="file" value=""/>

<input type="hidden" onchange={{action "passName"}} id="file-picker-pass-name" />
