<div class="row stage-header">
  <div class="col-sm-6 stage-title">All Datasets</div>
  <div class="col-sm-6 text-right">{{#link-to "datasets.new" class="btn btn-default"}}Upload{{/link-to}}</div>
</div>

<div class="dataset-index">
  {{#each model as |dataset|}}
    <div class="row dataset-index__item">
      <div class="col-xs-9">
        {{#link-to "datasets.view" dataset.id}}{{dataset.name}}{{/link-to}}
      </div>
      <div class="col-xs-3">
        {{#link-to "analyses.new" (query-params dataset_id=dataset.id) class="btn btn-default"}}New Analysis{{/link-to}}
      </div>
    </div>
  {{/each}}
</div>