ul.colorbar {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: block;
    margin: 0;
    padding: 0;
    height: 8px;

    span {
      display: inline-block;
      height: 100%;
      width: 50%;
      border: 1px solid #ddd;
      border-bottom-width: 0px;
      border-top-width: 0px;
    }

    &:first-child span {
      border-top-width: 1px;
    }

    &:last-child span {
      border-bottom: 1px;
    }

    small {
      display: inline-block;
      width: 50%;
      padding-left: 3px;
    }
  }
}
