.sphere {
  background: #fff;
  cursor: move;

  path {
    fill: none;
    stroke-linejoin: round;
  }

  .sphere, .graticule {
    fill: #fff;
    stroke: #aaa;
    fill-opacity: 1;
  }

  .equator {
    stroke: #ff4002;
    stroke-width: 1px;
  }

  .circle {
    cursor: pointer;
  }

  .circle:hover {
    stroke: orange;
  }

}
