Django==1.10.5
django-cors-headers==2.0.0
djangorestframework==3.5.3
djangorestframework-jsonapi==2.1.1
django-celery-results==1.0.1
django-celery-beat==1.0.1
requests==2.13.0
python-igraph==0.7.1.post6
